body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    padding: 10px;
  }
  nav{ background-color:#fff; border-bottom:1px solid #00a1de;}
  footer.page-footer{background-color:#00a1de; }



.btn, .btn-large{
	background-color:#f19858;
}
.btn:hover, .btn-large:hover{ background-color:#00a1de; }
#preloader{ position: absolute; top:30%; left: 48%;}
#preloader-txt{position: absolute; top:35%; xleft: 37%; text-align: center;}
.pre-txt{ text-align: center; }
#btnmod.btn
{

    padding: 0 1rem; height:25px; line-height:25px;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
#preloader-txt{position: absolute; top:35%; left: 37%; text-align: center;}


}